@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --color-primary: #312A64; /* Bleu */
  --color-secondary: #8282D7; /* Vert */
  --color-accent: #A7A3D9; /* Rouge */
  --font : 'Outfit', sans-serif;
}

::-webkit-scrollbar {
  display: none; /* Cela masque la barre de défilement */
}
.App{

  margin-right: 20px;
}
@media screen and (max-width:600px) {
  .App{

    width: 110%;
    overflow-x: hidden;
  }

}


